body{
  background-color: black;
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  width:0;
}
h1,h2,h3{
  margin:0;
  padding: 0;
}
.links{
  color:white;
  font-size: 14px;
  cursor: pointer;
}
.header_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 15px;
  width: '100vw';
}
.header_main div{
  display: flex;
  align-items: center;
}
.header_main div ul{
  list-style: none;
  font-family: 'poppins';
  display: flex;
  align-items: center;
  gap:25px
}

.slider_box::-webkit-scrollbar{
  width:0px;

}
.slider_box div:hover{
  transform:scale(1.01)
}
.review_container::-webkit-scrollbar{
  width:0px;

}
.filter_container::-webkit-scrollbar{
width: 0px;
}
.overview_container::-webkit-scrollbar{
  width:0px;
}
.expore_container::-webkit-scrollbar{
  width:0px;
}
.explore_card:hover{
  transform: scale(1.01);
}
.player_container::-webkit-scrollbar{
  width:0px;
}
@media screen and (max-width: 480px) {
  .banner_container {
    height: 50%;
  }
}
.custom::placeholder{
  color:white;
  font-weight: 400;
  
}
input[type=text],input[type=password] {
  width: 100%;
  padding: 0px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus,input[type=password]:focus{
  border: none;
}
.input_out{
  border:1px solid white;
  margin:22px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.input_out:hover{
    border:1px solid orangered;
}